/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
  box-sizing: border-box;
 }
 *, *::before, *::after {
  box-sizing: inherit;
 }
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}







:root {
  --sky-blue: #00b3e5;
  --white: #fff;
  --black: #000;
}

html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 1100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--black);
}

/*====================
       Header
====================*/
 
header {
  border-bottom: 1px solid #bfbfbf;
}

header > div {
  width: 1100px;
  margin: 0 auto;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 .9rem;
}

.header-top span {
  font-weight: bold;
  font-size: .9rem;
  color: var(--sky-blue);
}

.header-top span:hover {
  cursor: pointer;
}

.header-top p {
  color: rgba(0,0,0,.5);
}

.header-top p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header-top h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4.5rem;
  font-weight: bold;
  letter-spacing: -3px;
}

.header-top button {
  align-self: flex-start;
  margin-top: 1rem;
  padding: 5px 30px;
  border: none;
  border-radius: 4px;
  background-color: var(--sky-blue);
  font-size: .85rem;
  font-weight: bold;
  color: var(--white);
  cursor: pointer;
}

.header-bottom {
  display: flex;
}

.primary-nav {
  flex: 1;
}

.primary-nav > ul {
  display: flex;
  justify-content: space-between;
  font-family: 'Titillium Web', sans-serif;
}

.primary-nav > ul > li {
  position: relative;
  padding-bottom: .6rem;
}

.primary-nav .secondary-link a {
  color: var(--sky-blue);
}

#selected > ul > li a {
  color: var(--sky-blue);
}

#selected a::after {
  height: .3rem;
}

.primary-nav ul a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  height: 0rem;
  background-color: var(--black);
  transition: height 250ms;
}

.primary-nav ul a:hover {
  color: var(--sky-blue);
}

.primary-nav ul a:hover::after {
  height: .3rem;
}

.primary-nav li i.fa-angle-double-down {
  font-size: .7rem;
  margin-left: .3rem;
}

.primary-nav-more:hover .primary-nav-dropdown {
  display: flex;
}

.primary-nav-dropdown {
  position: absolute;
  top: 100%;
  display: none;
  flex-direction: column;
  margin-top: 1px;
  background-color: #f5f5f5;
}

.primary-nav-dropdown li {
  position: relative;
  display: block;
  padding: .7rem;
  border-bottom: 1px solid var(--white);
}

.header-tools {
  display: flex;
  margin-left: 4rem;
  font-family: 'Titillium Web', sans-serif;
}

.header-tools div:nth-child(2) {
  margin-left: .6rem;
}

.header-tools div a {
  margin-left: .3rem;
}

.sign-in:hover,
.search:hover {
  color: rgba(0,0,0,.4);
  cursor: pointer;
}

.sign-in:hover a,
.search:hover a{
  text-decoration: underline;
  color: inherit;
}

/*====================
       Article
====================*/



/*====================
      Recommended
====================*/

section.recommended {
  grid-column: 1 / -1;
}

section.recommended > div {
  display: flex;
}

/*====================
        Footer
====================*/

footer {
  padding: 2rem 0;
  background-color: #f5f5f5;
}

footer > div {
  width: 1100px;
  margin: 0 auto;
}

footer > div > div {
  display: flex;
}

footer > div > p {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
}

footer form {
  margin-bottom: 1rem;
}

footer form label {
  margin-right: 1rem;
  color: rgba(0,0,0,.7);
}

footer form input {
  width: 300px;
  margin-right: 1rem;
  border: none;
  border-bottom: 2px solid var(--black);
  font-size: .8rem;
  background-color: transparent;
}

footer form button {
  padding: .3rem 5rem;
  border: none;
  border-radius: 4px;
  font-size: .85rem;
  font-weight: bold;
  background-color: #005587;
  color: var(--white);
  cursor: pointer;
}

footer form button:hover {
  transition: background-color 350ms;
  background-color: #193c5b;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: .7rem;
}

footer ul li {
  padding: .2rem .7rem;
  border-right: 1px solid var(--black);
}

footer ul a:hover {
  color: var(--sky-blue);
}

footer ul:first-of-type {
  border-bottom: 1px solid #bfbfbf;
}

footer ul:nth-of-type(2) {
  margin-top: .7rem;
}

.cookie-settings-btn {
  display: block;
  margin: 0 auto;
  padding: .3rem .5rem;
  border: none;
  border-radius: 4px;
  font-size: .85rem;
  font-weight: bold;
  background-color: #005587;
  color: var(--white);
  cursor: pointer;
  transition: background-color 250ms;
}

.cookie-settings-btn:hover {
  background-color: #288eb7;
}

.app-socials-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1.3rem;
}

.app-wrapper {
  margin-right: 2rem;
}

.app-wrapper p,
.social-media-wrapper p {
  margin-bottom: .9rem;
}

.app-wrapper button {
  height: 2.1rem;
  width: 6.2rem;
  border: none;
  background-size: cover;
  cursor: pointer;
}

#ios-app-btn {
  margin-right: 1rem;
  background-image: url('./images/app-store.svg');
}

#android-app-btn {
  background-image: url('./images/play-store.svg');
}

.social-media-wrapper a {
  position: relative;
  display: inline-block;
  height: 26px;
  width: 26px;
  margin-right: 1rem;
  padding: 5px;
  border-radius: 50%;
  color: var(--white);
}

.social-media-wrapper a:last-of-type {
  margin-right: 0;
}

.social-media-wrapper a:hover {
  opacity: .7;
}

.social-media-wrapper i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #1da1f2;
}

.linkedin {
  background-color: #0077b5;
}

.pinterest {
  background-color: #cb2027;
}

.footer-additional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: .4rem;
}

.footer-additional small {
  font-size: .9rem;
}

.back-to-top {
  display: flex;
  align-items: center;
}

.back-to-top a:first-of-type {
  margin-right: 1.5rem;
  font-weight: bold;
}

.back-to-top a:last-of-type {
  font-size: 2.3rem;
}